
.gazou {position: sticky;
    text-align: right;
    width:auto;
    top: 200px;
    left: 500px;

}
   
        
.day{
    font-size: 50px;
    position: relative;
    top: 300px;
}

  

.iro{ 
    text-indent:100%;
	white-space:nowrap;
	overflow:hidden;

    background-color: rgb(37, 37, 114);
    width: auto;
    height: 200px;
    position: relative;
    top: 300px;
}


.first{
    border-bottom: solid 200px rgb(77, 26, 170);
    width: 350px;
}

.gaiyou{display: flex;
   justify-content: flex-end;
}
.home{color:rgb(39, 39, 218);
    margin: 20px
 }
.home:first-child{
    margin-right: auto;
    font-size: 150%;}

 
  
  
 